{# The following HTML structure is derived from the starter app code for cs_340
Date 7/25/2024
Derived from the example structure of Jinja
https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master#}

{% extends "base_admin.j2" %}
{% block title %}Airport Admin{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #06407a;
    }
</style>
{% endblock %}
{% block read %}<div>
    <label for="flightNumber">Country:</label>
    <select class="form-control" id="flightNumber" name="flightNumber" pattern="" placeholder="">
        <option value="0">&nbsp;</option>
        {% for item in countryData %}
        {% for key in item.keys() %}
        <option value="{{item[key]}}"> {{item[key]}} </option>
        {% endfor %}
        {% endfor %}
    </select>
</div>
<div>
    {{ super() }}</div>{% endblock %}
{% block new_button%}<th><a href="#" onClick="createForm()">Add New</a> </th> {% endblock %}
{% block update_button%}<td><a href="edit_airport/{{item.Airport_ID}}" class="btn btn-default">Edit</a></td>{%
endblock
%}
{% block delete_button%}<td><a href="delete_airport/{{item.Airport_ID}}" class="btn btn-default">Delete</a></td>{%
endblock %}

{% block create %}
<form id="createAirport" action="/airport-admin" method="post">
    <h1 class="title">Add Airport</h1>
    <fieldset class="fields">
        <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="PIT" required>

        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" pattern="" placeholder="Pittsburgh" required>

        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" pattern="" placeholder="United States"
            required>
    </fieldset>

    <div class="btnBlock">
        <!-- Create 'Add Airport' and 'Cancel' buttons -->
        <input type="submit" value="Add Airport" name="Add_Airport" class="btn btn-primary" ">
        <a class=" btn btn-primary" href="/airport-admin">Cancel</a>
    </div>
</form>
{% endblock %}

{% block update %}
<form id="editAirport" action="/edit_airport/{{data[0].Airport_ID}}" method="post">
    <h1 class="title">Update Airport</h1>
    <fieldset class="fields">
        <input type="hidden" value="{{data[0].Airport_ID}}" class="form-control" id="airportID" name="airportID"
            required>

        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}"
            placeholder="{{data[0].Airport_Name}}" required>

        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" pattern="^[a-zA-Z0-9 ]*$"
            placeholder="{{data[0].Airport_City}}" required>

        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" pattern="^[a-zA-Z0-9 ]*$"
            placeholder="{{data[0].Airport_Country}}" required>
    </fieldset>
    <div class="btnBlock">
        <input class="btn" type="submit" id="Update Airport" value="Update Airport">
        <a class="btn btn-primary" href="/airport-admin">Cancel</a>
    </div>
</form>
{% endblock %}

{% block delete %}
<form method="POST" id="deleteAirport" action="/delete_airport/{{data[0].Airport_ID}}">
    <h1 class="title">Delete Airport</h1>
    <fieldset class="fields">
        <p>Are you sure you wish to delete this airport?</p>
        <input type="hidden" name="airportID" id="deleteAirportID" value="{{data[0].Airport_ID}}">
        <label>ID: </label> {{data[0].Airport_ID}}
        <label>Name: </label> {{data[0].Airport_Name}}
    </fieldset>
    <div class="btnBlock">
        <input class="btn" type="submit" id="DeleteAirport" value="Delete Airport">
        <a class="btn btn-primary" href="/airport-admin">Cancel</a>
    </div>
</form>
{% endblock %}