{# The following HTML structure is derived from the starter app code  for cs_340 
    Date 7/25/2024
    Derived from the example structure of Jinja
    https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master#}
    
{% extends "base_admin.j2" %}
{% block title %}Airplane Admin{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #06407a;
    }
</style>
{% endblock %}
{% block read %}{{ super() }}{% endblock %}
{% block new_button%}<th><a href="#" onClick="createForm()">Add New</a> </th> {% endblock %}
{% block update_button%}<td><a href="edit_airplane/{{item.Airplane_Type_ID}}" class="btn btn-default">Edit</a></td>{% endblock %}
{% block delete_button%}<td><a href="delete_airplane/{{item.Airplane_Type_ID}}" class="btn btn-default">Delete</a></td>{% endblock %}

{% block create %}
<form id="createAirplane" action="/airplane-admin" method="post">
    <h1 class="title">Add Airplane</h1>
    <fieldset class="fields">
        <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Boeing 737" required>
    </fieldset>

    <div class="btnBlock">
        <!-- Create 'Add Airplane' and 'Cancel' buttons -->
        <input type="submit" value="Add Airplane" name="Add_Airplane" class="btn btn-primary">
        <a class=" btn btn-primary" href="/airplane-admin">Cancel</a>
    </div>


</form>
{% endblock %}

{% block update %}
<form id="editAirplane" action="/edit_airplane/{{data[0].Airplane_Type_ID}}" method="post">
    <h1 class="title">Update Airplane</h1>
    <fieldset class="fields">
        <input type="hidden" value="{{data[0].Airplane_Type_ID}}" class="form-control" id="airplaneID" name="airplaneID"
            required>

        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name"
            placeholder="{{data[0].Airplane_Type}}" required>
    </fieldset>
    <div class="btnBlock">
        <input class="btn" type="submit" id="Update Airplane" value="Update Airplane">
        <a class="btn btn-primary" href="/airport-admin">Cancel</a>
    </div>
</form>
{% endblock %}

{% block delete %}
<form method="POST" id="deleteAirplane">
    <h1 class="title">Delete Airplane</h1>
    <fieldset class="fields" class="fields">
        <p>Are you sure you wish to delete this airplane?</p>
        <input type="hidden" name="airplaneID" id="deleteAirplane_TypeID" value="{{data[0].Airplane_Type_ID}}">
        <label>ID: </label> {{data[0].Airplane_Type_ID}}
        <label> Name: </label> {{data[0].Airplane_Type}}
    </fieldset>
    <div class="btnBlock">
        <input class="btn" type="submit" id="DeleteAirplane" value="Delete Airplane Type">
        <a class="btn btn-primary" href="/airport-admin">Cancel</a>
    </div>
</form>
{% endblock %}